*~
*.bak
*.tar.xz
*.zip
*.gmo
Makefile
depcomp
Makefile.in
aclocal.m4
Dockerfile
init.sh
history.txt
md5sum
messages.po
art/
css/
test/
things/
tools/*JPG
packaging/VERSION
zip-files/
.deps/
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
stamp-h1
po/Makefile.in.in
po/POTFILES
po/stamp-it
schemas/*.valid
