.sb {
  font-size: 1.2em;
}
.hb-space {
  background-color: rgba(0,0,0,0);
}
.rlabel {
  font-size: 1.8em;
}
.hb {
  text-shadow:none;
  margin:0;
  padding:0;
  box-shadow:none;
  border-bottom: 0;
}
.hb GtkLabel, .hb label {
  background-color: rgba(0,0,0,0);
}
.titlebar {
  padding:0;
  margin:0;
}
.obmin-title {
  font-size: 1.8em;
  font-weight: bold;
  padding:0;
  margin:0;
}
