Source: obmin
Maintainer: Kostiantyn K <kapa76@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               intltool

Package: obmin
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gir1.2-atk-1.0,
         gir1.2-clutter-1.0,
         gir1.2-gdkpixbuf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-soup-2.4,
         gir1.2-appindicator3-0.1,
         psmisc,
         curl,
         gjs
Recommends: fonts-roboto
Description: Lightweight HTTP/File Server Extension
 One-Click File Sharing Solution for your home network or/and even worldwide.
