[Desktop Entry]
Name=Obmin
Comment=Lightweight HTTP File Server
Exec=obmin-center
Icon=obmin
Terminal=false
Type=Application
Categories=Network;FileTransfer;Core;
Keywords=obmin;internet;server;share;
StartupNotify=true
