[Desktop Entry]
Name=Obmin Preferences
Comment=HTTP/File Server solution for GNU/Linux systems
Exec=obmin-preferences
Icon=obmin
Terminal=false
Type=Application
Categories=GNOME;System;Settings;
Keywords=obmin;internet;server;share;network;
StartupNotify=true
