[Desktop Entry]
Name=Obmin
Comment=HTTP/File Server solution for GNU/Linux systems
Exec=obmin-indicator
Icon=obmin
Terminal=false
Type=Application
Categories=Network;Server;GNOME;Utility;
Keywords=obmin;internet;server;share;
StartupNotify=true
