@define-color obmin_base_color #323843;
@define-color obmin_bg_color #ffcc0c;
@define-color obmin_fg_color #cacaca;

.sb {
  color: #bfbfbf;
  background-color: @obmin_base_color;
  font-size: 1.2em;
}
.sb-button {
  border-radius: 0;
  border-style:none;
  box-shadow:none;
  outline-width:0;
  border-image:none;
  font-size: 1em;
  padding:0.5em;
  margin:0;
  border:0;
  color: #afafaf;
  text-shadow:none;
  background-image: none;
  background-color: @obmin_base_color;
}
.sb-button:checked, .sb-button:hover {
  color: @obmin_base_color;
  background-color: @obmin_bg_color;
}
.sb-button:checked {
  font-weight: bold;
}
.hb-space {
  background-color: @obmin_base_color;
}
.stats, .logs {
  color: @obmin_base_color;
  background-color: @obmin_bg_color;
}
.rlabel {
  font-size: 1.8em;
}
.hb, .hb GtkLabel, .hb label {
  color: @obmin_bg_color;
  background-color: @obmin_bg_color;
  background-image: none;
  font-weight: bold;
  border-width: 0;
  border-radius: 0;
  border-style:none;
  box-shadow:none;
  outline-width:0;
  border-image:none;
  padding:0;
  margin:0;
  border:0;
  text-shadow:none;
}

.titlebar {
  padding:0;
  margin:0;
}
.obmin-title {
  font-size: 1.8em;
  font-weight: bold;
  padding:0;
  margin:0;
}
